Repository nextcloud/notifications, pull requests merged in 2020-07, with the labels that each got.

#680 Fix wordwrap issue regression from #540, fix #679
  css/styles.scss
Labels: 3. to review, backport-request, bug, design

#687 Use the L10N factory to get the users language
  lib/Controller/EndpointController.php
  lib/Push.php
  tests/Unit/Controller/EndpointControllerTest.php
  tests/Unit/PushTest.php
Labels: 3. to review, feature: push, technical debt

#651 [stable19] Allow to group push notifications via an event
  lib/App.php
  lib/AppInfo/Application.php
  lib/Push.php
Labels: 3. to review, backport-request, enhancement, feature: push, high

#652 Deferrable notification apps
  lib/App.php
  lib/Push.php
Labels: 3. to review, enhancement, feature: push, technical debt

#689 Don't push without internet connection
  lib/Push.php
  tests/Unit/PushTest.php
Labels: 3. to review, bug, feature: push

#693 Also check for internet on delete push
  lib/Push.php
Labels: backport-request
