Repository nextcloud/notifications, pull requests merged in 2020-06, with the labels that each got.

#660 Move to new bootstrap mechanism
  appinfo/app.php
  lib/AppInfo/Application.php
  tests/Unit/AppInfo/AppTest.php
Labels: 2. developing

#661 Migrate post_deleteUser hook to event
  lib/AppInfo/Application.php
  lib/Listener/UserDeletedListener.php
Labels: 3. to review, technical debt

#656 Ignore old push devices
  lib/Push.php
  tests/Unit/PushTest.php
Labels: 4. to release, bug, feature: push

#657 Don't shutdown the notifications when it freezes by browser shutdown
  js/notifications.js
  js/notifications.js.map
  src/App.vue
Labels: 4. to release, bug, feature: frontend

#670 More buffer to the key size
  lib/Push.php
Labels: 3. to review, backport-request, bug, feature: push

#671 Delete duplicates of the same push token hash
  lib/Controller/PushController.php
Labels: 3. to review, backport-request, bug, feature: push
